<section class="newsletter-section" style="background-image: url(assets/image/Newsletter.png);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter-form align-middle">
          <div class="title-form text-center">
            <h3>Newsletter</h3>
            <p>Sign up for exclusive offers, masterclasses, launches and the latest news</p>
            <form class="d-flex">
              <div class="input-group">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary border-0" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>