<section class="text-gray-600 body-font bg-yellow-100 pt-50 pb-50">
    <div class="container" id="contact-form">
      <div class="row">
        <div class="col-12">
          <h1 class="text-4xl text-gray-800 sm:text-4xl font-bold font-clarity mb-9">Contact Us</h1>
        </div>
        <div class="col-6">
          <h4 class="font-clarity">LIQUOR BARON</h4>
          <p><b>Opening Hours:</b>Monday - Friday: 09.00 - 18.00</p>
          <p><b>Call Us:</b>0208 951 9840 </p>
          <!-- <p><b>Email Us:</b> liquorbaren@gmail.com</p> -->
          <a href="mailto:liquorbaren&#64;gmail.com">liquorbaren&#64;gmail.com</a>

          <p>Or complete the 'Contact Us' form below and we will aim to respond to your query within 24 hours.</p>
          <p><b>Follow us:</b> &#64;AmathusDrinks for all the latest news and offers.</p>

          <p><b>Visit Us:</b>Pop into any of our eight stores in London, Bath and Brighton or meet us in person at our offices by prior appointment at our</p>

          <p><b>Head Office Address:</b>309 Elveden Road, Park Royal, London, NW10 7ST </p>
        </div>
        <div class="col-6">

          <form class="contact-form">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name *</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Phone Number *</label>
              <input type="type" class="form-control" id="PhoneNumber">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address *</label>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Message *</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="button" class="btn btn-dark btn-lg br-0">Submit</button>
          </form>
            
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>