section.payment-section {
    padding: 50px 0px;
}

div#v-pills-tab {
    padding: 10px;
    /* background: #fff; */
    margin-right: 25px !important;
}

div#v-pills-tab button {
    margin: 0;
    font-size: 14px;
}

.my-account {}

.my-account h2 {
    font-size: 30px;
    margin-bottom: 25px !important;
}

.my-account .title-with-forms {
    margin-top: 0;
}

.title-forms h3 {
    font-size: 23px;
}

.detail_account {
    padding-bottom: 20px;
}

.detail_account p {
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
}

.list-group.mt-4 {
    margin-top: 10px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    section.payment-section {
        padding: 30px 0px;
    }

    section.payment-section .row {
        flex-direction: column !important;
    }

    section.payment-section .d-flex.align-items-start {
        flex-direction: column;
    }

    section.payment-section .d-flex.align-items-start div#v-pills-tab {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    section.payment-section .d-flex.align-items-start div#v-pills-tab hr:last-child {
        display: none;
    }

    .my-account h2 {
        font-size: 25px;
        margin-bottom: 10px !important;
    }

    .title-with-forms.d-flex.justify-content-between {
        flex-direction: column;
    }

    .title-forms.w-100 h3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .title-forms.w-100 h3 a {
        margin: 0;
    }
}

@media (min-width: 576px) and (max-width: 1024px) {
    .billing-edit.align-self-center.ms-auto {
        display: flex;
        gap: 8px;
    }
}