<section class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-top-section text-center">
          <p>SUMMER SALE FOR ALL SWIM SUITS AND FREE EXPRESS INTERNATIONAL DELIVERY - OFF 50%! SHOP NOW</p>
        </div>
      </div>
    </div>
  </div>
</section>
<header>
  <nav class="navbar navbar-expand-lg shadow">
    <div class="container-baron container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/image/logo/Logo.png" alt="logo"> 
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <div class="hamburger-toggle">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </button>
      <div class="collapse navbar-collapse align-middle" id="navbar-content">
          <ul class="navbar-nav main-navs ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLink="/about">About Us</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLink="/contact">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <img src="assets/image/icons/location.png">
              <a class="nav-link active" aria-current="page" routerLink="/our-store">OUR STORES</a>
            </li>
            <li class="nav-item" routerLink="/my-account">
              <img src="assets/image/icons/user.png">
              <a class="nav-link">MY ACCOUNT</a>
            </li>
            <li class="nav-item" routerLink="/cart">
              <img src="assets/image/icons/basket.png">
              <a class="nav-link">CART</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <img src="assets/image/icons/canada.png" alt="canada">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>