.nav-item a {
    color: #840029 !important;
    font-size: 18px !important;
}

@media (min-width: 320px) and (max-width: 991px) {
    .text-top-section.text-center p {
        font-size: 13px;
    }

    .logo img {
        width: 100%;
    }


    div#navbar-content ul.navbar-nav.main-navs li.nav-item {
        padding: 0;
    }

    div#navbar-content ul.navbar-nav.main-navs li.nav-item a {
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
    }

    div#navbar-content ul.navbar-nav:last-child {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 10px;
        gap: 18px;
    }

    div#navbar-content ul.navbar-nav:last-child li.nav-item {
        width: 47%;
        padding: 0px;
    }

    div#navbar-content ul.navbar-nav a {
        font-size: 15px !important;
        text-align: left;
    }

    div#navbar-content ul.navbar-nav:last-child a.nav-link {
        text-align: center;
    }

    .text-top-section p {
        font-size: 14px;
    }

    div#navbar-content {
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        top: 81px;
    }

}

@media (min-width: 320px) and (max-width: 575px) {
    .logo {
        width: 67%;
    }

    button.navbar-toggler {
        width: 20%;
        position: absolute;
        right: 0;
    }

    div#navbar-content {
        top: 81px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .logo {
        width: 37%;
    }

    button.navbar-toggler {
        width: 20%;
        position: absolute;
        right: 15px;
    }

    div#navbar-content {
        top: 92px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 30%;
    }

    button.navbar-toggler {
        width: 20%;
        position: absolute;
        right: 15px;
    }

    div#navbar-content {
        top: 92px;
    }

    div#navbar-content ul.navbar-nav:last-child li.nav-item {
        width: 23% !important;
        padding: 0px;
    }
}



@media (min-width: 992px) and (max-width: 1199px) {

    .container-baron.container-fluid {
        flex-direction: column;
    }

    ul.navbar-nav {
        align-items: center;
    }

    ul.navbar-nav.main-navs.ms-auto.mb-2.mb-lg-0 li.nav-item {
        padding: 10px;

    }

    ul.navbar-nav.main-navs.ms-auto.mb-2.mb-lg-0 li.nav-item a {
        padding: 0;
        font-size: 16px !important;
    }

    div#navbar-content {
        align-items: center;
        margin-top: 20px;
    }

    ul.navbar-nav:last-child li {
        padding: 4px;
    }

    div#navbar-content ul.navbar-nav:last-child li a {
        font-size: 15px !important;
    }

}



@media (min-width: 1200px) and (max-width: 1600px) {

    ul.navbar-nav {
        align-items: center;
    }

    ul.navbar-nav.main-navs.ms-auto.mb-2.mb-lg-0 li.nav-item {
        padding: 10px;

    }

    ul.navbar-nav.main-navs.ms-auto.mb-2.mb-lg-0 li.nav-item a {
        padding: 0;
        font-size: 16px !important;
    }

    div#navbar-content {
        align-items: center;
        margin-top: 20px;
    }

    ul.navbar-nav:last-child li {
        padding: 4px;
    }

    div#navbar-content ul.navbar-nav:last-child li a {
        font-size: 15px !important;
    }

}