@font-face {
    font-family: 'Fnord Five Condensed';
    src: url('Fnord-FiveCondensed.eot');
    src: local('Fnord Five Condensed'), local('Fnord-FiveCondensed'),
        url('Fnord-FiveCondensed.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FiveCondensed.woff2') format('woff2'),
        url('Fnord-FiveCondensed.woff') format('woff'),
        url('Fnord-FiveCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Five Extended';
    src: url('Fnord-FiveExtended.eot');
    src: local('Fnord Five Extended'), local('Fnord-FiveExtended'),
        url('Fnord-FiveExtended.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FiveExtended.woff2') format('woff2'),
        url('Fnord-FiveExtended.woff') format('woff'),
        url('Fnord-FiveExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Engraved';
    src: url('Fnord-Engraved.eot');
    src: local('Fnord Engraved'), local('Fnord-Engraved'),
        url('Fnord-Engraved.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Engraved.woff2') format('woff2'),
        url('Fnord-Engraved.woff') format('woff'),
        url('Fnord-Engraved.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Forty Condensed';
    src: url('Fnord-FortyCondensed.eot');
    src: local('Fnord Forty Condensed'), local('Fnord-FortyCondensed'),
        url('Fnord-FortyCondensed.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FortyCondensed.woff2') format('woff2'),
        url('Fnord-FortyCondensed.woff') format('woff'),
        url('Fnord-FortyCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Five';
    src: url('Fnord-Five.eot');
    src: local('Fnord Five'), local('Fnord-Five'),
        url('Fnord-Five.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Five.woff2') format('woff2'),
        url('Fnord-Five.woff') format('woff'),
        url('Fnord-Five.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Twenty Three';
    src: url('Fnord-Twenty-Three.eot');
    src: local('Fnord Twenty Three'), local('Fnord-Twenty-Three'),
        url('Fnord-Twenty-Three.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Twenty-Three.woff2') format('woff2'),
        url('Fnord-Twenty-Three.woff') format('woff'),
        url('Fnord-Twenty-Three.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Ninety Three Condensed';
    src: url('Fnord-Ninety-ThreeCondensed.eot');
    src: local('Fnord Ninety Three Condensed'), local('Fnord-Ninety-ThreeCondensed'),
        url('Fnord-Ninety-ThreeCondensed.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Ninety-ThreeCondensed.woff2') format('woff2'),
        url('Fnord-Ninety-ThreeCondensed.woff') format('woff'),
        url('Fnord-Ninety-ThreeCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Ninety Three';
    src: url('Fnord-Ninety-Three.eot');
    src: local('Fnord Ninety Three'), local('Fnord-Ninety-Three'),
        url('Fnord-Ninety-Three.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Ninety-Three.woff2') format('woff2'),
        url('Fnord-Ninety-Three.woff') format('woff'),
        url('Fnord-Ninety-Three.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Forty Extended';
    src: url('Fnord-FortyExtended.eot');
    src: local('Fnord Forty Extended'), local('Fnord-FortyExtended'),
        url('Fnord-FortyExtended.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FortyExtended.woff2') format('woff2'),
        url('Fnord-FortyExtended.woff') format('woff'),
        url('Fnord-FortyExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Seventeen';
    src: url('Fnord-Seventeen.eot');
    src: local('Fnord Seventeen'), local('Fnord-Seventeen'),
        url('Fnord-Seventeen.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Seventeen.woff2') format('woff2'),
        url('Fnord-Seventeen.woff') format('woff'),
        url('Fnord-Seventeen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Seventeen Extended';
    src: url('Fnord-SeventeenExtended.eot');
    src: local('Fnord Seventeen Extended'), local('Fnord-SeventeenExtended'),
        url('Fnord-SeventeenExtended.eot?#iefix') format('embedded-opentype'),
        url('Fnord-SeventeenExtended.woff2') format('woff2'),
        url('Fnord-SeventeenExtended.woff') format('woff'),
        url('Fnord-SeventeenExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Forty';
    src: url('Fnord-FortyItalic.eot');
    src: local('Fnord Forty Italic'), local('Fnord-FortyItalic'),
        url('Fnord-FortyItalic.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FortyItalic.woff2') format('woff2'),
        url('Fnord-FortyItalic.woff') format('woff'),
        url('Fnord-FortyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fnord Five';
    src: url('Fnord-FiveItalic.eot');
    src: local('Fnord Five Italic'), local('Fnord-FiveItalic'),
        url('Fnord-FiveItalic.eot?#iefix') format('embedded-opentype'),
        url('Fnord-FiveItalic.woff2') format('woff2'),
        url('Fnord-FiveItalic.woff') format('woff'),
        url('Fnord-FiveItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fnord Seventeen Condensed';
    src: url('Fnord-SeventeenCondensed.eot');
    src: local('Fnord Seventeen Condensed'), local('Fnord-SeventeenCondensed'),
        url('Fnord-SeventeenCondensed.eot?#iefix') format('embedded-opentype'),
        url('Fnord-SeventeenCondensed.woff2') format('woff2'),
        url('Fnord-SeventeenCondensed.woff') format('woff'),
        url('Fnord-SeventeenCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Inline';
    src: url('Fnord-Inline.eot');
    src: local('Fnord Inline'), local('Fnord-Inline'),
        url('Fnord-Inline.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Inline.woff2') format('woff2'),
        url('Fnord-Inline.woff') format('woff'),
        url('Fnord-Inline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Twenty Three Condensed';
    src: url('Fnord-Twenty-ThreeCondensed.eot');
    src: local('Fnord Twenty Three Condensed'), local('Fnord-Twenty-ThreeCondensed'),
        url('Fnord-Twenty-ThreeCondensed.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Twenty-ThreeCondensed.woff2') format('woff2'),
        url('Fnord-Twenty-ThreeCondensed.woff') format('woff'),
        url('Fnord-Twenty-ThreeCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Ninety-Three Extended';
    src: url('Fnord-Ninety-ThreeExtended.eot');
    src: local('Fnord Ninety-Three Extended'), local('Fnord-Ninety-ThreeExtended'),
        url('Fnord-Ninety-ThreeExtended.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Ninety-ThreeExtended.woff2') format('woff2'),
        url('Fnord-Ninety-ThreeExtended.woff') format('woff'),
        url('Fnord-Ninety-ThreeExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Twenty Three Extended';
    src: url('Fnord-Twenty-ThreeExtended.eot');
    src: local('Fnord Twenty Three Extended'), local('Fnord-Twenty-ThreeExtended'),
        url('Fnord-Twenty-ThreeExtended.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Twenty-ThreeExtended.woff2') format('woff2'),
        url('Fnord-Twenty-ThreeExtended.woff') format('woff'),
        url('Fnord-Twenty-ThreeExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Ninety Three';
    src: url('Fnord-Ninety-ThreeItalic.eot');
    src: local('Fnord Ninety Three Italic'), local('Fnord-Ninety-ThreeItalic'),
        url('Fnord-Ninety-ThreeItalic.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Ninety-ThreeItalic.woff2') format('woff2'),
        url('Fnord-Ninety-ThreeItalic.woff') format('woff'),
        url('Fnord-Ninety-ThreeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fnord Forty';
    src: url('Fnord-Forty.eot');
    src: local('Fnord Forty'), local('Fnord-Forty'),
        url('Fnord-Forty.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Forty.woff2') format('woff2'),
        url('Fnord-Forty.woff') format('woff'),
        url('Fnord-Forty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Seventeen';
    src: url('Fnord-SeventeenItalic.eot');
    src: local('Fnord Seventeen Italic'), local('Fnord-SeventeenItalic'),
        url('Fnord-SeventeenItalic.eot?#iefix') format('embedded-opentype'),
        url('Fnord-SeventeenItalic.woff2') format('woff2'),
        url('Fnord-SeventeenItalic.woff') format('woff'),
        url('Fnord-SeventeenItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fnord Woodcut';
    src: url('Fnord-Woodcut.eot');
    src: local('Fnord Woodcut'), local('Fnord-Woodcut'),
        url('Fnord-Woodcut.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Woodcut.woff2') format('woff2'),
        url('Fnord-Woodcut.woff') format('woff'),
        url('Fnord-Woodcut.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fnord Twenty-Three';
    src: url('Fnord-Twenty-ThreeItalic.eot');
    src: local('Fnord Twenty-Three Italic'), local('Fnord-Twenty-ThreeItalic'),
        url('Fnord-Twenty-ThreeItalic.eot?#iefix') format('embedded-opentype'),
        url('Fnord-Twenty-ThreeItalic.woff2') format('woff2'),
        url('Fnord-Twenty-ThreeItalic.woff') format('woff'),
        url('Fnord-Twenty-ThreeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

