<section class="pt-0 ps-6 pe-6 lg-ps-2 lg-pe-2 sm-ps-0 sm-pe-0 mt-5">
  <div class="container-fluid">
    <h2>My Wishlist</h2>
    <div class="row justify-content-center">
      <!-- Loop through wishListItems array -->
      <div class="col-3" *ngFor="let product of wishLstItems?.data; let i=index">
        <div class="product-card" [routerLink]="['/product', product?.product?.id]">
          <div class="product-tumb py-4">
            <img [src]="imgBaseUrl + product?.product?.product_image" class="img-fluid uniform-img" alt="product">
          </div>
          <div class="product-details p-3 text-center">
            <h4>{{product?.product?.name}}</h4>
            <p>{{product?.product?.description}}</p>
            <div class="product-bottom-details d-flex justify-content-center">
              <div class="product-price text-center">
                ${{product?.product?.price}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="empty-checkout text-center pt-90 pb-90" *ngIf="!(wishLstItems?.data?.length > 0)">
        <div class="container-baron container-fluid">
            <div class="row">
                <div class="col">
                    <div class="message-empty">
                        <h4>Nothing to see – or drink – here. Start shopping and add something to your basket. It’s free shipping if you spend over £60!</h4>
                        <button class="btn btn-continue" routerLink="/shop">
                            Continue shopping
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- Add all to cart button -->
      <div class="col-12 mt-4 text-center">
        <!-- <button (click)="addAllToCart()" class="btn btn-dark">Add all to Cart</button> -->
      </div>
    </div>
  </div>
</section>
