@media (min-width: 1200px) and (max-width: 1600px) {

    .collection-section h2 {
      font-size: 35px;
    }
  
    .collection-section .product-card-container {
      width: 25%;
    }
  
    .collection-section .product-card-container .product-details {
      padding: 17px !important;
      background: #f9fcff;
      border-top: 1px solid #ddd;
    }
  
    .collection-section .product-card-container .product-tumb {
      padding: 20px 20px 20px !important;
    }
  
    .collection-section .product-card-container .product-card {
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .product-bottom-details {
      padding-top: 10px;
    }
  
    .collection-section .product-card-container .product-details p {
      font-size: 16px;
      font-weight: 100 !important;
    }
  
    .badge {
      position: absolute;
      margin: 0;
      bottom: -12px;
      right: 10px;
    }
  
    .collection-section button {
      margin: 0px !important;
    }
  
    .collection-section .button-load-more {
      margin: 16px 0px 0px !important;
      padding: 0 !important;
    }
  
    .collection-section button {
      padding: 10px 30px;
      font-size: 18px;
    }
  
    .carousel-caption {
      display: block !important;
      padding: 0;
      top: 122px;
    }
  
    .carousel-caption p {
      font-size: 30px !important;
      margin-bottom: 5px;
    }
  
    .carousel-caption h2 {
      font-size: 65px;
      line-height: normal;
    }
  
    .carousel-caption button {
      font-size: 18px;
      padding: 8px 16px !important;
    }
  
    #homepageCarousel img {
      object-fit: cover;
      height: 400px;
    }
  
    section.main-section {
      padding: 50px 0px;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {

  
    .collection-section h2 {
      font-size: 33px;
    }
  
    .collection-section .product-card-container {
      width: 50%;
    }
  
    .collection-section .product-card-container .product-details {
      padding: 17px !important;
      background: #f9fcff;
      border-top: 1px solid #ddd;
    }
  
    .collection-section .product-card-container .product-tumb {
      padding: 20px 20px 20px !important;
    }
  
    .collection-section .product-card-container .product-card {
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .product-bottom-details {
      padding-top: 10px;
    }
  
    .collection-section .product-card-container .product-details p {
      font-size: 16px;
      font-weight: 100 !important;
    }
  
    .badge {
      position: absolute;
      margin: 0;
      bottom: -12px;
      right: 10px;
    }
  
    .collection-section button {
      margin: 0px !important;
    }
  
    .collection-section .button-load-more {
      margin: 16px 0px 0px !important;
      padding: 0 !important;
    }
  
    .collection-section button {
      padding: 10px 30px;
      font-size: 18px;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
  
  
    .collection-section h2 {
      font-size: 36px;
    }
  
    .collection-section .product-card-container {
      width: 50%;
    }
  
    .collection-section .product-card-container .product-details {
      padding: 17px !important;
      background: #f9fcff;
      border-top: 1px solid #ddd;
    }
  
    .collection-section .product-card-container .product-tumb {
      padding: 20px 20px 20px !important;
    }
  
    .collection-section .product-card-container .product-card {
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .product-bottom-details {
      padding-top: 10px;
    }
  
    .collection-section .product-card-container .product-details p {
      font-size: 16px;
      font-weight: 100 !important;
    }
  
    .badge {
      position: absolute;
      margin: 0;
      bottom: -12px;
      right: 10px;
    }
  
    .collection-section button {
      margin: 0px !important;
    }
  
    .collection-section .button-load-more {
      margin: 16px 0px 0px !important;
      padding: 0 !important;
    }
  
    .collection-section button {
      padding: 10px 30px;
      font-size: 18px;
    }
  
  }
  
  @media (min-width: 320px) and (max-width: 575px) {
  
    .collection-section h2 {
      font-size: 25px;
    }
  
    .collection-section .product-card-container {
      width: 100%;
    }
  
    .collection-section .product-card-container .product-details {
      padding: 17px !important;
      background: #f9fcff;
      border-top: 1px solid #ddd;
    }
  
    .collection-section .product-card-container .product-tumb {
      padding: 20px 20px 20px !important;
    }
  
    .collection-section .product-card-container .product-card {
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .product-bottom-details {
      padding-top: 10px;
    }
  
    .collection-section .product-card-container .product-details p {
      font-size: 16px;
      font-weight: 100 !important;
    }
  
    .badge {
      position: absolute;
      margin: 0;
      bottom: -12px;
      right: 10px;
    }
  
    .collection-section button {
      margin: 0px !important;
    }
  
    .collection-section .button-load-more {
      margin: 16px 0px 0px !important;
      padding: 0 !important;
    }
  
    .collection-section button {
      padding: 10px 30px;
      font-size: 18px;
    }
  
    .nil-padding {
      padding: 0px !important;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
  
    .nil-padding {
      padding: 0px !important;
    }
  
    .collection-section h2 {
      font-size: 33px;
    }
  
    .collection-section .product-card-container {
      width: 50%;
    }
  
    .collection-section .product-card-container .product-details {
      padding: 17px !important;
      background: #f9fcff;
      border-top: 1px solid #ddd;
    }
  
    .collection-section .product-card-container .product-tumb {
      padding: 20px 20px 20px !important;
    }
  
    .collection-section .product-card-container .product-card {
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .product-bottom-details {
      padding-top: 10px;
    }
  
    .collection-section .product-card-container .product-details p {
      font-size: 16px;
      font-weight: 100 !important;
    }
  
    .badge {
      position: absolute;
      margin: 0;
      bottom: -12px;
      right: 10px;
    }
  
    .collection-section button {
      margin: 0px !important;
    }
  
    .collection-section .button-load-more {
      margin: 16px 0px 0px !important;
      padding: 0 !important;
    }
  
    .collection-section button {
      padding: 10px 30px;
      font-size: 18px;
    }
  
  }