<section class="about-section-page">
  <div class="container">

    <div class="row1 row pt-50 pb-50">
      <div class="col-lg-6">
        <div class="about-us-contents p-5">
          <h2 class="display-4">About our company</h2>
          <p class="lead">Founded in 2019, we launched our first store located in Cochrane, and later expanded our
            illustrious operations to Airdrie. Our aim is to offer the Alberta libation community an unparalleled
            selection of wines, spirits, and craft beers that cater to the discerning palates of our esteemed clientele.
            We take pride in our commitment to quality, authenticity, and customer service, which is reflected in our
            collection offerings and the shopping experience we provide.</p>
          <a href="#" class="btn btn-outline-dark">Continue shopping</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="w-100 shadow" src="/assets/image/about/about1.png" />
      </div>
    </div>

    <div class="row2 row pt-50 pb-50">
      <div class="col-lg-6">
        <img class="w-100 shadow" src="/assets/image/about/about2.png" />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4 about-us-contents ">
          <h2 class="display-4">See what we offer</h2>
          <p class="lead">Our selection is carefully curated to bring together the best of both worlds: traditional
            spirits that have withstood the test of time, as well as innovative new offerings that push the boundaries
            of what’s possible in the world of spirits. This means you’ll find everything from rare single malts to
            artisanal liqueurs, all under one roof.</p>
          <a href="#" class="btn btn-outline-dark">Continue shopping</a>
        </div>
      </div>
    </div>

    <div class="row1 row pt-50 pb-50">
      <div class="col-lg-6">
        <div class="p-5 mt-4 about-us-contents ">
          <h1 class="display-4">Meet our team</h1>
          <p class="lead">Liquor Baron is not just your ordinary liquor store. It’s a destination that seamlessly blends
            tradition and innovation, offering a unique and unforgettable shopping experience. We believe that every
            customer deserves a personalized experience, so our knowledgeable staff is always ready to guide you through
            our extensive and thoughtfully curated collection that is tailored to meet your specific taste preferences.
          </p>
          <a routerLink="contact" class="btn btn-outline-dark">Contact us</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="w-100 shadow" src="/assets/image/about/about3.png" />
      </div>


    </div>
  </div>
</section>


<section class="other-details-block pb-50">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="details-colums">
          <h3>Cultivating Experiences</h3>
          <p>Through our carefully curated events, you'll deepen your knowledge and appreciation of the craftsmanship
            that goes into every bottle. Whether you're a seasoned connoisseur or new to the world of libations, our
            tastings and events are tailored to provide you with an experience that is both educational and enjoyable.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="details-colums">
          <h3>Crafting Memories</h3>
          <p>The perfect bottle can elevate any events, from a birthday party to a retirement bash. We believe that
            every bottle has a story to tell, and our engraving service allows you to add your own unique chapter. With
            our help, you can create a meaningful and memorable experience that will be treasured by you and your loved
            ones for years to come.</p>
        </div>
      </div>
      <div class="col">
        <div class="details-colums">
          <h3>Fostering Community</h3>
          <p>We understand that the enjoyment of spirits, wine, and beer can bring people together. That’s why we strive
            to create a welcoming environment where enthusiasts can gather and engage in an experiential shopping
            experience. Through various initiatives, such as our wine club, we strive to create a sense of community
            where like-minded individuals can come together to share stories, tips, and recommendations.</p>
        </div>
      </div>
    </div>
  </div>
</section>