@media (min-width:320px) and (max-width:767px){

.wrapper {
    display: block;
    justify-content: space-between;
    padding: 0;
}
.main {
    width: 100%;
    height: auto;
    min-height: auto;
    display: block;
    flex-direction: column;
    background-color: white;
    color: #222;
    padding-left: 0px;
     padding: 25px;
}

.sidebar {
    width: 100%;
    height: auto;
    overflow: auto;
    position: -webkit-relative;
    position: relative;
    top: 0;
    border-radius: 0 !important;
    background: #ff0000;
    padding: 25px;
}
}