<section id="faq" class="faq pt-50 pb-50">
    <div class="container">
      <div style="text-align:center;">
        <h2>Refunds, Returns, and Exchanges</h2>
      </div>
      <br>
      <div class="faq-list">
        <ul>
          <li>
            <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the return policy at Liquor Baron? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                  We always strive for customer satisfaction. If you’re not satisfied with a product, or if you have concerns, please contact us. We’ll work with you to find an appropriate solution.
              </p>
            </div>
          </li>

          <li>
            <i class="fa fa-question-circle icon-help" aria-hidden="true"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Can I get a refund for a product I’m not satisfied with? <i class="fa fa-sm fa-angle-down icon-show" aria-hidden="true"></i><i class="fa fa-sm fa-angle-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                  We always strive for customer satisfaction. If you’re not satisfied with a product, or if you have concerns, please contact us. We’ll work with you to find an appropriate solution.
              </p>
            </div>
          </li>          
        </ul>
      </div>
      <div class="image-text-bottom text-center pt-50 pb-50">
          <img src="assets/image/asset.png">
          <br>
          <br>
          <p>We are always here to help with any questions that you might have about our website. In case of any other questions, please visit our contact us page.</p>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
