<section class="shipping">
  <div class="row row-left-right">

    <div class="left-white">
      <div class="padding-equal">
        <div class="listing-adresses">
          <div class="contact-addresses">
            <p class="1st-contact">Contact</p>
            <p class="2nd-contact">{{contextService.user()?.email}}</p>
            <p class="3rd-contact"><a href="#">Change</a></p>
          </div>
          <hr>
          <div class="contact-addresses">
            <p class="1st-contact">Shipto</p>
            <p class="2nd-contact">Forest Hill Family Health Centre, Toronto ON M5N 1A8, Canada</p>
            <p class="3rd-contact"><a href="#">Change</a></p>
          </div>
        </div>

        <div class="contact-payment">
          <h4>Shipping Method</h4>
          <div class="three-section">

            <div 
            class="one-box select-one" 
            [class.active]="activeTab === 1" 
            (click)="setActiveTab(1)">
            <img src="image/shipping/pickup.png" alt="pickup">
            <p>Store Pickup</p>
            <hr>
            <button type="button">{{activeTab === 1 ? 'Selected' : 'Select'}}</button>
          </div>
          
          <div 
            class="one-box select-one" 
            [class.active]="activeTab === 2" 
            (click)="setActiveTab(2)">
            <img src="image/shipping/delivery.png" alt="delivery">
            <p>Home Delivery</p>
            <hr>
            <button type="button">{{activeTab === 2 ? 'Selected' : 'Select'}}</button>
          </div>
          
          <div 
            class="one-box select-one" 
            [class.active]="activeTab === 3" 
            (click)="setActiveTab(3)">
            <img src="image/shipping/shipping.png" alt="shipping">
            <p>Shipping</p>
            <hr>
            <button type="button">{{activeTab === 3 ? 'Selected' : 'Select'}}</button>
          </div>
          

          </div>
        </div>
        <div class="pickup-locally" id="picked-locally" *ngIf="activeTab === 1">
          <div class="pickup-location">
            <p class="pickup-heading">Select pickup location:</p>
            <div class="picking-location">
              <div class="inputting-pickup active">
                <input type="radio" name="select-address">
                <label>Willow Park Wines and Spirits 10801 Bonaventure Dr SE, Calgary AB
                  10801 Bonaventure Dr SE, Calgary, T2J 6Z8</label>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Willow Park Wines and Spirits 10801 Bonaventure Dr SE, Calgary AB
                  10801 Bonaventure Dr SE, Calgary, T2J 6Z8</label>
              </div>
            </div>
          </div>
          <div class="pickup-location">
            <p class="pickup-heading">Choose pickup date and time:</p>
            <div class="row row-selector">

              <div class="inputting-added">
                <div class="form-floating mb-4 d-flex">
                  <input type="text" class="datepicker_input form-control border-2" id="datepicker1" required>
                  <label for="datepicker1">Select Date</label>
                </div>
              </div>

              <div class="inputting-added">

                <div class="form-floating mb-4 d-flex">
                  <input type="text" class="datepicker_input form-control border-2" id="datepicker1" required>
                  <label for="datepicker1">Select Time</label>
                </div>
              </div>


            </div>
          </div>

          <div class="store-pickup">
            <p class="store-light">Store pickup</p>
            <p class="store-dark">Free</p>
          </div>
        </div>

        <div class="locally-deliver" id="deliver-local" *ngIf="activeTab === 2">
          <div class="pickup-location">
            <p class="pickup-heading">Choose a delivery date and time:</p>
            <div class="row row-selector">

              <div class="inputting-added">
                <div class="form-floating mb-4 d-flex">
                  <input type="text" class="datepicker_input form-control border-2" id="datepicker1" required>
                  <label for="datepicker1">Select Date</label>
                </div>
              </div>

              <div class="inputting-added">

                <div class="form-floating mb-4 d-flex">
                  <input type="text" class="datepicker_input form-control border-2" id="datepicker1" required>
                  <label for="datepicker1">Select Time</label>
                </div>
              </div>


            </div>
          </div>
          <div class="pickup-location">
            <p class="pickup-heading">Select pickup location:</p>
            <div class="picking-location">
              <div class="inputting-pickup active">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
            </div>
          </div>
        </div>

        <div class="locally-deliver shipping" id="shipping-locally" *ngIf="activeTab === 3">
          <div class="pickup-location">
            <div class="picking-location">
              <div class="inputting-pickup active">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
              <div class="inputting-pickup">
                <input type="radio" name="select-address">
                <label>Local Delivery North/Central</label>
                <p>$9.99</p>
              </div>
            </div>
          </div>
        </div>


        <div class="text-check inputting-check">
          <div class="button-flex button-return">
            <button type="submit" class="btn btn-primary"><img src="image/shipping/Vector.png" alt="vector"> Return To
              Payment</button>
          </div>
          <div class="button-flex">
            <button type="submit" class="btn btn-primary">Continue to Payment</button>
          </div>
        </div>

        <div class="foot-shipping">
          <hr>
          <p>All rights reserved LIQUOR BARON</p>
        </div>

      </div>
    </div>

    <div class="right-red">
      <div class="padding-equal-right position-sticky top-0">
        <div class="right-starting">
          <div class="listing-right">
            <div class="img-bottle">
              <img src="image/shipping/Image.png" alt="old">
              <p class="one">1</p>
            </div>
            <p>Don Papa Rum, 70cl (With Gift Canister)</p>
            <p>$ 36.00</p>
          </div>
          <div class="listing-right second-right">
            <div class="img-bottle">
              <img src="image/shipping/Image.png" alt="old">
              <p class="one">2</p>
            </div>
            <p>Don Papa Rum, 70cl (With Gift Canister)</p>
            <p>$ 36.00</p>
          </div>
          <div class="listing-right second-right">
            <div class="img-bottle">
              <img src="image/shipping/asset 2.png" alt="old">
              <p class="one">3</p>
            </div>
            <p>$0.10 Recycle Charge</p>
            <p>$ 0.20</p>
          </div>
        </div>
        <div class="apply-but">
          <input type="text" placeholder="Discount Code">
          <button type="button">Apply</button>
        </div>

        <div class="apply-total">

          <div class="p-total">
            <p>Subtotal :</p>
            <p>$138.00</p>
          </div>

          <div class="p-total d-total">
            <p>Shipping :</p>
            <p>Enter Shipping Address</p>
          </div>

          <div class="p-total free-grand">
            <p><span class="grandone">Total</span></p>
            <p>CAD<span class="cad">$138.00</span></p>
          </div>

          <div class="p-total free-grand icluding">
            <p>Including $6.00 in taxes</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>





<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Address</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="col">
      <div class="title-with-forms">
        <div class="body-forms">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3 general-info">
            <div class="col-md-6 type-form">
              <label class="form-label flex-">Full Name *</label>
              <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
              <div *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('fullName')?.errors?.['required']">Full name is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Mobile Number *</label>
              <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number">
              <div *ngIf="form.get('mobileNumber')?.touched && form.get('mobileNumber')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('mobileNumber')?.errors?.['required']">Mobile number is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Pin Code *</label>
              <input type="text" class="form-control" formControlName="pinCode" placeholder="Pin Code">
              <div *ngIf="form.get('pinCode')?.touched && form.get('pinCode')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('pinCode')?.errors?.['required']">Pin code is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Alternate Phone Number *</label>
              <input type="text" class="form-control" formControlName="altPhoneNumber"
                placeholder="Alternate Phone Number">
              <div *ngIf="form.get('altPhoneNumber')?.touched && form.get('altPhoneNumber')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('altPhoneNumber')?.errors?.['required']">Alternate
                  phone number is required.</div>
              </div>
            </div>

            <div class="col-md-12 type-form">
              <label class="form-label flex-">Address *</label>
              <textarea class="form-control" formControlName="address" placeholder="Address"></textarea>
              <div *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('address')?.errors?.['required']">Address is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Locality *</label>
              <input type="text" class="form-control" formControlName="locality" placeholder="Locality">
              <div *ngIf="form.get('locality')?.touched && form.get('locality')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('locality')?.errors?.['required']">Locality is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">City/District/Town *</label>
              <input type="text" class="form-control" formControlName="city" placeholder="City/District/Town">
              <div *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('city')?.errors?.['required']">City/District/Town is
                  required.</div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">State *</label>
              <select class="form-control" formControlName="state">
                <option disabled value="">Select State</option>
                <option *ngFor="let state of USStates" [value]="state">{{ state }}</option>
              </select>
              <div *ngIf="form.get('state')?.touched && form.get('state')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('state')?.errors?.['required']">State is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 type-form">
              <label class="form-label flex-">Landmark *</label>
              <input type="text" class="form-control" formControlName="landmark" placeholder="Landmark">
              <div *ngIf="form.get('landmark')?.touched && form.get('landmark')?.invalid">
                <div class="text-danger p-small" *ngIf="form.get('landmark')?.errors?.['required']">Landmark is
                  required.</div>
              </div>
            </div>

            <!-- <div class="col-md-12 mt-1 type-form">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="defaultAddress" id="customCheck1">
                  <label class="form-check-label" for="customCheck1">Make this my default address</label>
                </div>
              </div> -->

            <div class="col-md-12 modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
              <button type="submit" class="btn-maroon">{{ 'Add' }}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</ng-template>