<section>
    <div class="container-baron container-fluid">
        <div class="row">
            <div class="col">
                <div class="breadcrum-s">
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                  </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="empty-checkout text-center pt-90 pb-90">
    <div class="container-baron container-fluid">
        <div class="row">
            <div class="col">
                <div class="message-empty">
                    <p>Your Cart</p>
                    <h4>Nothing to see – or drink – here. Start shopping and add something to your basket. It’s free shipping if you spend over £60!</h4>
                    <button>
                        Continue shopping
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>