.my-order-history br {
    display: none;
}

@media (min-width: 320px) and (max-width: 5000px) {
    .message-empty h4 {
        font-size: 27px;
    }

    section.empty-checkout {
        padding: 0;
    }
}