<section class="main-section pb-3">
  <div class="container-baron container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="title-text text-center">
          <h2>Shop</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="product-card" [routerLink]="['/product', '1']">
          <div class="badge">Hot</div>
          <div class="product-tumb py-4">
            <img src="assets/image/product/1.png" alt="product">
          </div>


          <div class="product-details p-3">

            <h4><a href="">AVIATION</a></h4>
            <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
            <div class="product-bottom-details">
              <div class="product-price"><small>$24.00</small>$20.00</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-card" [routerLink]="['/product', '1']">
          <div class="badge">Hot</div>
          <div class="product-tumb py-4">
            <img src="assets/image/product/2.png" alt="product">
          </div>


          <div class="product-details p-3">

            <h4><a href="">AVIATION</a></h4>
            <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
            <div class="product-bottom-details">
              <div class="product-price"><small>$24.00</small>$20.00</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-card" [routerLink]="['/product', '1']">
          <div class="badge">Hot</div>
          <div class="product-tumb py-4">
            <img src="assets/image/product/3.png" alt="product">
          </div>


          <div class="product-details p-3">

            <h4><a href="">AVIATION</a></h4>
            <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
            <div class="product-bottom-details">
              <div class="product-price"><small>$24.00</small>$20.00</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-card" [routerLink]="['/product', '1']">
          <div class="badge">Hot</div>
          <div class="product-tumb py-4">
            <img src="assets/image/product/4.png" alt="product">
          </div>


          <div class="product-details p-3">

            <h4><a href="">AVIATION</a></h4>
            <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
            <div class="product-bottom-details">
              <div class="product-price"><small>$24.00</small>$20.00</div>
              <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="button-load-more">
          <button>Load More</button>
        </div>
      </div>
    </div>
  </div>
</section>