<section class="single-pro-page">
  <div class="container-fluid">
    <div class="row">
      <div class="wrapper">
        <div class="main text-center">

          <div id="productCarousel" class="carousel slide product-main-images" data-bs-ride="carousel"
            data-bs-interval="5000" data-bs-pause="false">
            <div class="carousel-inner">
              <div class="carousel-item active" *ngIf="productInfo?.product?.product_image">
                <img [src]="imgBaseUrl + productInfo?.product?.product_image" class="d-block centered-image"
                  alt="Product Image 1">
              </div>

              <div class="carousel-item" *ngFor="let item of productInfo?.images; let i = index">
                <img [src]="imgBaseUrl + item?.product_sub_image" class="d-block centered-image"
                  alt="Product Image {{i+2}}">
              </div>
            </div>
            
            <div class="carousel-controls-bottom" *ngIf="productInfo?.images.length > 0">
              <button type="button" class="btn btn-secondary btn-arrow-left" data-bs-target="#productCarousel"
                data-bs-slide="prev">Prev</button>
              <button type="button" class="btn btn-secondary btn-arrow-right" data-bs-target="#productCarousel"
                data-bs-slide="next">Next</button>
              <!-- <button class="carousel-control" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control" type="button">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>


          <div class="review-section-starts">
            <h2>Customer Reviews</h2>
          </div>
          <p>Scroll down the page!</p>
          <h3>How to recreate this</h3>

          <div class="row">
            <div class="col">
              <ul>
                <li>
                  <div class="rating-res">
                    <h2>4.8</h2>
                  </div>
                </li>
                <li>
                  <div class="stars-box">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <p>Based on 35 reviews</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col">
              <div class="chart">
                <div class="rate-box">
                  <span class="value">5</span>
                  <div class="progress-bar">
                    <span class="progress"></span>
                  </div>
                  <span class="count">0</span>
                </div>
                <div class="rate-box">
                  <span class="value">4</span>
                  <div class="progress-bar"><span class="progress"></span></div>
                  <span class="count">0</span>
                </div>
                <div class="rate-box">
                  <span class="value">3</span>
                  <div class="progress-bar"><span class="progress"></span></div>
                  <span class="count">0</span>
                </div>
                <div class="rate-box">
                  <span class="value">2</span>
                  <div class="progress-bar"><span class="progress"></span></div>
                  <span class="count">0</span>
                </div>
                <div class="rate-box">
                  <span class="value">1</span>
                  <div class="progress-bar"><span class="progress"></span></div>
                  <span class="count">0</span>
                </div>
              </div>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg">Write A Review</button>
            </div>
          </div>
          <br>
          <br>
          <hr>

          <div class="row justify-content-between">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="profile-image-name align-items-left">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="">
                      <img src="assets/image/98681.jpeg" alt="@mdo" class="rounded" loading="lazy">
                      <span>
                        <strong> Ankon Antu</strong> <br>Verified buyer
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col text-start">
                  <div class="rating-reviews">
                    <div class="stars-box">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      Excellent
                    </div>
                    <p>Super speedy packed up and delivery, and safely as you'd definitely hope, for this easy gin with
                      the bonus of it being a special edition, thank you!</p>
                  </div>
                </div>
                <div class="col">
                  <div class="date-reviews">
                    <p>24/08/24</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="profile-image-name align-items-left">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="">
                      <img src="assets/image/98681.jpeg" alt="@mdo" class="rounded" loading="lazy">
                      <span>
                        <strong> Ankon Antu</strong> <br>Verified buyer
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col text-start">
                  <div class="rating-reviews">
                    <div class="stars-box">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      Excellent
                    </div>
                    <p>Super speedy packed up and delivery, and safely as you'd definitely hope, for this easy gin with
                      the bonus of it being a special edition, thank you!</p>
                  </div>
                </div>
                <div class="col">
                  <div class="date-reviews">
                    <p>24/08/24</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="profile-image-name align-items-left">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="">
                      <img src="assets/image/98681.jpeg" alt="@mdo" class="rounded" loading="lazy">
                      <span>
                        <strong> Ankon Antu</strong> <br>Verified buyer
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col text-start">
                  <div class="rating-reviews">
                    <div class="stars-box">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      Excellent
                    </div>
                    <p>Super speedy packed up and delivery, and safely as you'd definitely hope, for this easy gin with
                      the bonus of it being a special edition, thank you!</p>
                  </div>
                </div>
                <div class="col">
                  <div class="date-reviews">
                    <p>24/08/24</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-3">
              <div class="product-card" [routerLink]="['/product', '1']">
                <div class="badge">Hot</div>
                <div class="product-tumb py-4">
                  <img src="assets/image/product/1.png" alt="product">
                </div>


                <div class="product-details p-3">

                  <h4><a href="">AVIATION</a></h4>
                  <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$24.00</small>$20.00</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="product-card" [routerLink]="['/product', '1']">
                <div class="badge">Hot</div>
                <div class="product-tumb py-4">
                  <img src="assets/image/product/2.png" alt="product">
                </div>


                <div class="product-details p-3">

                  <h4><a href="">AVIATION</a></h4>
                  <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$24.00</small>$20.00</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="product-card" [routerLink]="['/product', '1']">
                <div class="badge">Hot</div>
                <div class="product-tumb py-4">
                  <img src="assets/image/product/3.png" alt="product">
                </div>


                <div class="product-details p-3">

                  <h4><a href="">AVIATION</a></h4>
                  <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$24.00</small>$20.00</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="product-card" [routerLink]="['/product', '1']">
                <div class="badge">Hot</div>
                <div class="product-tumb py-4">
                  <img src="assets/image/product/4.png" alt="product">
                </div>


                <div class="product-details p-3">

                  <h4><a href="">AVIATION</a></h4>
                  <p>Aviation American Gin Deadpool Limited Edition, 70cl</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$24.00</small>$20.00</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar">
          <div class="row">
            <div class="col">
              <div class="reviews-ratings d-flex">
                <ol class="text-white">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </ol>
                <p class="text-white">&nbsp; 16 Reviews</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="reviews-ratings text-white">
                <h3>{{productInfo?.product?.name}}</h3>
              </div>
            </div>
            <div class="col">
              <div class="write-reviews text-end">
                <a class="text-white" (click)="addToWishlist(productInfo?.product?.id)" *ngIf="!wishlist">
                  <i class="bi bi-heart"></i>
                </a>
                <a class="text-danger" (click)="removeFromWishlist()" *ngIf="wishlist">
                  <i class="bi bi-heart-fill"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="product-descriptions text-white">
                <p>{{productInfo?.product?.description}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="product-descriptions text-white">
                <p>Price: ${{productInfo?.product?.price}} <span class="saved-perc">Saved
                    {{productInfo?.product?.discount}}%</span></p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="button-up-d">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <div class="qty-container">
                    <button class="qty-btn-minus btn-light" type="button" (click)="decrement()"><i
                        class="bi bi-dash"></i></button>
                    <input type="text" name="qty" [(ngModel)]="quantity" readonly class="input-qty" />
                    <button class="qty-btn-plus btn-light" type="button" (click)="increment()"><i
                        class="bi bi-plus-lg"></i></button>
                  </div>

                  <!-- <label class="btn btn-outline-light" for="btncheck2">Add 12</label> -->
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="button-cart-width mb-4 mt-4">
                <button type="button" (click)="addToCart(productInfo?.product?.id)" *ngIf="!cartInfo?.quantity">Add to
                  Cart</button>
                <button type="button" *ngIf="cartInfo?.quantity" routerLink="/cart">Go to cart</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul class="other-pro-details text-white text-decoration-none">
                <!-- <li>75cl </li> -->
                <li class="circle-text">42%</li>
                <li>SKU 790543</li>
              </ul>
              <div class="shipping-truc">
                <p class="text-white"><i class="bi bi-truck"></i> &nbsp; shipping $9.99 on all orders.</p>
              </div>
            </div>
          </div>

          <hr>
        </div>
      </div>
    </div>
  </div>
</section>