<!-- <div class="container-fluid">
  <div id="preloader" *ngIf="loading">
      <div id="status">
          <div class="spinner-chase">
              <div class="chase-dot"></div>
              <div class="chase-dot"></div>
              <div class="chase-dot"></div>
              <div class="chase-dot"></div>
              <div class="chase-dot"></div>
              <div class="chase-dot"></div>
          </div>
      </div>
  </div>
</div> -->
<div class="loader-container" *ngIf="loading">
  <div class="bouncing-dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
  </div>
</div>