<footer class="footer--light">
    <div class="footer-big">
      <!-- start .container -->
      <div class="container-baron container-fluid">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="footer-widget">
              <div class="widget-about">
                <img decoding="async" src="assets/image/logo/Logo-footer.png" alt="" class="img-fluid">
                <p>Welcome to LIQUOR BARON. If you’re looking for beautifully smooth whiskies, award-winning gins or other world-class spirits to send as gifts, you’re in the right place.</p>
              </div>
            </div>
            <!-- Ends: .footer-widget -->
            <!-- Responsive Html Code created by : Shift Code Design -->
          </div>
          <!-- end /.col-lg-4 -->
          <div class="col-lg-2 col-sm-6">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">THE COMPANY</h4>
                <ul>
                  <li>
                    <a routerLink="about" routerLink="/about">About Us</a>
                  </li>
                  <li>
                    <a routerLink="our-store" routerLink="/our-store">Our Store</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
            <!-- Responsive Html Code created by : Shift Code Design -->
          </div>
          <!-- end /.col-lg-3 -->

          <div class="col-lg-2 col-sm-6">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">HELP CENTRE</h4>
                <ul>
                  <li>
                    <a routerLink="contact" routerLink="/contact">Contact Us</a>
                  </li>
                  <li>
                    <a href="#" routerLink="/cart">Delivery</a>
                  </li>
                  <!-- <li>
                    <a routerLink="returns">Returns</a>
                  </li> -->
                  <li>
                    <a routerLink="faqs" routerLink="/faqs">FAQs</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-lg-3 -->

          <div class="col-lg-2 col-sm-6">
            <div class="footer-widget">
              <div class="footer-menu p-0">
                <h4 class="footer-widget-title">LEGAL</h4>
                <ul>
                  <li>
                    <a routerLink="privacy-cookies" routerLink="/privacy-cookies">Privacy & Cookies</a>
                  </li>
                  <li>
                    <a routerLink="terms-conditions" routerLink="/terms-conditions">Terms & Conditions</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->
          <div class="col-lg-2 col-sm-6">
            <div class="footer-widget">
              <div class="footer-menu p-0">
                <h4 class="footer-widget-title">SOCIAL MEDIA</h4>
                <ul class="d-flex">
                  <li>
                    <a href="#">
                      <img src="assets/image/logo/instagram.png" alt="facebook">
                  </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="assets/image/logo/facebook.png" alt="facebook">
                    </a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>

        </div>

        <div class="row">
          <div class="col">
            <div class="footer-ends">
              <p>Copyright © Amathus Drinks PLC 1978-2024 All Rights Reserved</p>
              <p>Registered company in the UK. Registered Number: 1689532.Registered office address: 309 Elveden Road, Park Royal, London NW10 7ST, UK</p>
            </div>
          </div>
          <div class="col">
            <div class="footer-ends text-end">
              <img src="assets/image/logo/footer-logo.png" alt="footer-logo">
            </div>
          </div>
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->
    <!-- Responsive Html Code created by : Shift Code Design -->
  </footer>