<section class="shipping">
  <div class="row row-left-right">

    <div class="left-white">
      <div class="padding-equal">

        <div class="confirm-tick">
          <div class="tick-right">
            <!-- <img src="assets/image/shipping/right.png" alt="confirm"> -->
          </div>
          <div class="detail-confirm">
            <!-- <p class="light-shade">Order #{{orders?.order_number}} </p> -->
            <p class="dark-shade">Sorry! Your order could'nt be processed due to payment failure, Please try after some time.</p>
          </div>
        </div>

        <div class="confirmation">
          <div class="card-confirm">
            <img src="assets/image/shipping/map-phone.png" alt="map">
            <div class="alert-danger alerting">
              <div class="image-reject">
                <img src="assets/image/shipping/reject.png" alt="green-tick">
              </div>
              <div class="para-alert">
                <p class="first-alert">Payment Failed</p>
                <p class="second-alert">If any money deducted from your account will be credited back to your account in 24 hrs. </p>
              </div>
            </div>

          </div>
        </div>

 


        <div class="text-check inputting-check success-pot">
          <div class="button-flex button-return">
            <button type="submit" class="btn btn-primary"> Need Help?<span class="contactor"><a routerLink="/contact">Contact Us</a></span></button>
          </div>
          <div class="button-flex">
            <button type="submit" class="btn btn-primary" routerLink="/home">Continue Shopping</button>
          </div>
        </div>

        <div class="foot-shipping">
          <hr>
          <p>All rights reserved LIQUOR BARON</p>
        </div>

      </div>
    </div>



  </div>
</section>